<!DOCTYPE html>

<html>
<head>
    <title>Chris's Blog for Maura</title>
</head>
<body>
    <div>
        <h1><a href="/">Chris's Blog About His Undying Love For Maura Leigh</a></h1>
    </div>

    <div>
        <h3><em>Figure1: Chris's Love for Maura Over Time</em></h3>
        <iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiMDZiZDcyNTctNWM2Yi00YjFhLWE5MzctYTAzZWM0ZGQzYWRjIiwidCI6ImIzMmFmZGU4LTg2YzQtNDY2ZS1iZTk1LTliNjQyN2NmZDJmMiIsImMiOjN9" frameborder="0" allowFullScreen="true"></iframe>
    </div>

    <div>
        {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
        {% endfor %}
    </div>

</body>
</html>

